@inherits LayoutComponentBase

@inject IDialogService _dialogService
@inject LoadingBarService _loadingBarService

<LoadingBar />

<div class="page">

    <MudThemeProvider isDarkMode="@true" />
    <MudPopoverProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        _loadingBarService.DialogService = _dialogService;
    }
}