@page "/request"

@using System.IO
@using System.Net
@using System.Text.Json
@using Components

@inject ChemKit.Datasources.pubchem.Services.SubstanceService _substanceService
@inject ChemKit.Datasources.pubchem.Services.CompoundService _compoundService

<input type="text" @bind-value="@InputValue" />
<input type="submit" onclick="@(() => OnSubmit())" />

<button @onclick="ExpandAll">Expand All</button>

<MudGrid Justify="Justify.SpaceBetween" Spacing="2">
    @foreach(var jsonObject in jsonObjects)
    {
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudPaper Elevation="1" Class="pa-3">
                <JsonObjectViewer ObjectData="@jsonObject" @bind-ExpandAll="expandAll" />
            </MudPaper>
        </MudItem>
    }
</MudGrid>

@code
{
    public string InputValue { get; set; } = "";
    public string Response { get; set; } = "";
    private bool expandAll = false;

    private void ExpandAll()
    {
        expandAll = !expandAll;
        StateHasChanged();
    }

    private List<JsonElement> jsonObjects = new List<JsonElement> { JsonSerializer.Deserialize<JsonElement>("{}") };

    private async Task OnSubmit()
    {
        var substances = await _substanceService.SearchSubstancesAsync(InputValue);

        Response = string.Empty;

        foreach(var s in substances)
        {
            jsonObjects.Add(
                JsonSerializer.Deserialize<JsonElement>(s.PrintDetails())
            );
        }

        StateHasChanged();
    }
}